* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background-color: lightyellow;
}

#wrap {
   max-width: 1200px; 
    margin: 0 auto;
    position: relative;
    height: auto;
}

#header {
    max-width: 1200px; 
    height: 200px;
    padding: 20px 0px;
    background-color: sandybrown;
    margin-bottom: 50px;
    position: relative;
}

#titleBox {
    background-color: transparent;
    height:100px;
    width: 1160px;
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 10px;
    color: bisque;
    padding-bottom: 50px;
}

#title {
    background-color: transparent;
    /* height:100px; */
    /* width: 1160px; */
    font-size: 75px;
    text-align: center;
    position: relative;
    /* top: 50px; */
    color: bisque;
}

#title a {
    background-color: transparent;
    /* height:100px; */
    /* width: 1160px; */
    font-size: 75px;
    text-align: center;
    position: relative;
    /* top: 50px; */
    color: bisque;
    text-decoration: none;
}

#nav {
    height: 50px;
    width: 500px;
    position:absolute;
    bottom: 7px;
    right: 7px;
    padding: 10px 0px;
    background-color: transparent;
    color: darkred;
    transition: 0.5s;
}

#nav .menu {
    position: relative;
    float: left;
    width: 125px;
    background-color: transparent;
    padding: 7px 10px;
    margin: 0 auto;
    text-align: center;
}

#nav .menu a {
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
    color: currentColor;
}

#nav :hover {
    transition: 0.5s;
    background-color: bisque;
    color: brown;
}


/* 배색 1, 2, 3 */
#color1 {
    background-color: chocolate;
}

#color2 {
    background-color: sandybrown;
}

#color3 {
    background-color: bisque;
}


#main {
    height: auto;
    width: 1100px;
    
}

#footer {
    max-width: 1200px; 
    height: auto;
    position: relative;
    bottom: 0px;
    background-color: chocolate;
    margin-top: 50px;
}

#footer div {
    background-color: transparent;
    /* position: relative; */
    float: right;
    margin-right: 7px;
    padding: 5px 7px;
    color: black;
}
section {
    margin-bottom: 70px;
    
}


/*이벤트*/
/* 공통 게시판 */
.board {
    margin-bottom: 30px;
}

.board-btn {
    width: 100%;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    background-color: sandybrown;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.board-content {
    display: none;
    padding: 25px;
    background-color: bisque;
    border-radius: 0 0 15px 15px;
    margin-top: 5px;
}

/* 이벤트 */
.event-wrap {
    display: flex;
    gap: 20px;
}

.event-banner {
    flex: 1;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, chocolate, sandybrown);
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* 쿠폰 */
.coupon-wrap {
    display: flex;
    gap: 20px;
}

.coupon-card {
    flex: 1;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    border: 3px dashed chocolate;
    border-radius: 20px;
    background-color: lightyellow;
}

/* 신메뉴 */
.new-menu-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.new-menu-card {
    width: 180px;
    text-align: center;
}

.new-menu-card img {
    width: 100%;
    height: auto;
    max-height: 220px;
}

.new-menu-card p {
    font-size: 16px;
    font-weight: bold;
}