/*사진첩.css*/
.imgbox{
    margin-top: 20px;
    height: 300px;
}


.imgcard{
    float: left;
    height: 300px;
    width: 150px;
    margin: 0 10px;
}

.imgcard img{
    width: 100%;
}

.imgcard2{
    height: 300px;
    width: 150px;
    margin: 0 10px;
    float: left;
   
}

.imgcard2.a{
background:url("./다운로드.png")no-repeat center;
background-size: cover;
} 
.imgcard2.b{
background:url("./다운로드 (2).png")no-repeat center;
background-size: cover;
} 
.imgcard2.c{
background:url("./다운로드 (3).png")no-repeat center;
background-size: cover;
} 
