* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightyellow;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: auto;
}

#header {
    width: 1200px;
    height: 200px;
    padding: 20px 0px;
    background-color: sandybrown;
    margin-bottom: 50px;
    position: relative;
}

#titleBox {
    background-color: transparent;
    height:100px;
    width: 1160px;
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 10px;
    color: bisque;
    padding-bottom: 50px;
}

#title {
    background-color: transparent;
    /* height:100px; */
    /* width: 1160px; */
    font-size: 75px;
    text-align: center;
    position: relative;
    /* top: 50px; */
    color: bisque;
}

#title a {
    background-color: transparent;
    /* height:100px; */
    /* width: 1160px; */
    font-size: 75px;
    text-align: center;
    position: relative;
    /* top: 50px; */
    color: bisque;
    text-decoration: none;
}

#nav {
    height: 50px;
    width: 500px;
    position:absolute;
    bottom: 7px;
    right: 7px;
    padding: 10px 0px;
    background-color: transparent;
    color: darkred;
    transition: 0.5s;
}

#nav .menu {
    position: relative;
    float: left;
    width: 125px;
    background-color: transparent;
    padding: 7px 10px;
    margin: 0 auto;
    text-align: center;
}

#nav .menu a {
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
    color: currentColor;
}

#nav :hover {
    transition: 0.5s;
    background-color: bisque;
    color: brown;
}


/* 배색 1, 2, 3 */
#color1 {
    background-color: chocolate;
}

#color2 {
    background-color: sandybrown;
}

#color3 {
    background-color: bisque;
}


#main {
    height: auto;
    width: 1100px;
    
}

#footer {
    width: 1200px;
    height: auto;
    position: absolute;
    bottom: 0px;
    background-color: chocolate;
}

#footer div {
    background-color: transparent;
    /* position: relative; */
    float: right;
    margin-right: 7px;
    padding: 5px 7px;
    color: black;
}
section {
    margin-bottom: 70px;
    display: flex;
}


/*이벤트*/
#event-wrap {

    display: flex;
    gap: 20px;
}

#banner {
    flex: 1;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    background: #f2c94c;
}

#coupon-wrap {
    display: flex;
    gap: 20px;

}

#coupon-card {
    flex: 1;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    border: 2px dashed #e67e22;
}
#new-menu-wrap ul {
    list-style: none;
}
#new-menu-wrap li {

    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

img{
    margin-top: 20px;
    height: 300px;
}
.imgbox {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.imgcard{
    float: left;
    height: 300px;
    width: 150px;
    margin: 0 10px;
}

.imgcard img{
    width: 100%;
}

.imgcard2{
    height: 300px;
    width: 150px;
    margin: 0 10px;
    float: left;
   
}

.imgcard2.a{
background:url("./피스타치오케잌.jpg")no-repeat center;
background-size: cover;
} 
.imgcard2.b{
background:url("./딸기요거퐁당.jpg")no-repeat center;
background-size: cover;
} 
.imgcard2.c{
background:url("./말차에빠진딸기.jpg")no-repeat center;
background-size: cover;
} 
.imgcard2.d{
background:url("./오렌지스무디.jpg")no-repeat center;
background-size: cover;
} 
.imgcard2.e{
background:url("./초코에반한딸기케잌.jpg")no-repeat center;
background-size: cover;
} 
#footer {
    position: relative;   /* 또는 그냥 삭제 */
    width: 1200px;
    background-color: chocolate;
    margin-top: 50px;
}