#loginForm{
    width: 500px;
    margin: 150px auto;
}
.loginFormBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-field{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.input-field label{
    width: 120px;
    font-size: 30px;
}
.input-field input{
   /* flex: 1; */
    font-size: 30px;
    width: calc(100% - 120px); /*연산자 꼭 띄어쓰기하기*/
}
.loginButton{
    text-align: center;
}
.forgetAndUp{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 50px;
}